* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  font-weight: 900;
  color: #fff;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(235, 162, 11) 49%, rgb(255, 255, 255) 100%);
}

.contenedor-de-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.flex-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.h2-list-articulos {
  margin-bottom: 10px;
  text-shadow: 2px 1px 2px rgb(0, 0, 0);
}

.search-container {
  display: flex;
  align-items: center;
}

.lupa-svg {
  width: 38px;
  background-color: rgb(240, 169, 4);
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
}
.lupa-svg:hover {
  transform: rotate(360deg);
  transition: 150ms ease;
}

#searchInput {
  padding: 8px;
  margin-right: 5px;
  color: black;
  border-radius: 10px;
}

#searchButton {
  padding: 2px;
  cursor: pointer;
  border: none;
  background-color: rgb(240, 169, 4);
}
#searchButton:hover {
  transform: scale(1.1);
  transition: 300ms ease;
  background-color: #965306;
  border-radius: 5px;
}

figure {
  position: relative;
  overflow: hidden;
}
figure img {
  width: 100%;
  border: 1px solid rgb(71, 95, 96);
  border-radius: 20px;
  filter: sepia(0.3);
}
figure img:hover {
  filter: sepia(0);
  transition: 300ms ease;
}
figure figcaption {
  font-size: 1em;
  white-space: nowrap;
  background-color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
figure .boton-al-carrito {
  border: 1px solid black;
  background-color: rgb(212, 139, 3);
  width: 100%;
  text-shadow: 1px 1px 1px #000000;
  padding: 7px 0px;
}
figure .boton-al-carrito:hover {
  transform: perspective(1);
  transition: 300ms ease;
  background-color: orange;
  box-shadow: 0 0 10px rgba(204, 103, 8, 0.5);
}

h1 {
  border: 1px solid black;
  background-color: rgb(165, 64, 5);
  text-shadow: 2px 1px 2px rgb(0, 0, 0);
}

.agregar-al-carrito {
  position: absolute;
  top: 10px;
  right: 19px;
  font-size: 30px;
  padding: 0 10px;
  background-color: rgb(240, 169, 4);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.agregar-al-carrito:hover {
  color: #000000;
}

.span-price {
  color: #fff;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background-color: #1f1e1e;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

.nav-link-edit:hover {
  color: orange;
}

.footer-container {
  border: 1px solid black;
  border-radius: 5px;
}

.container-logo-footer {
  display: flex;
  justify-content: center;
}
.container-logo-footer .logo-footer {
  width: 170px;
}

@media screen and (min-width: 90px) and (max-width: 320px) {
  .contenedor-de-productos {
    grid-template-columns: repeat(2, 1fr);
  }
  .contenedor-de-productos .agregar-al-carrito {
    position: absolute;
    top: 10px;
    right: 19px;
    font-size: 20px;
    padding: 0 10px;
    background-color: rgb(240, 169, 4);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .tabla-de-productos {
    font-size: 5px;
  }
  .tabla-de-productos .indicador-th,
  .tabla-de-productos .indicador-td {
    display: none;
  }
  .tabla-de-productos .titulos-tr th,
  .tabla-de-productos .info-titulo-tr td {
    padding: 5px;
  }
  .tabla-de-productos .cantidad-td,
  .tabla-de-productos .cantidad-th {
    display: none;
  }
  .tabla-de-productos .vaciar-carrito {
    margin-left: 0px;
    padding: 0px;
    font-size: 12px;
  }
  .tabla-de-productos .carrito-total {
    font-size: 12px;
  }
  .tabla-de-productos #total {
    font-size: 12px !important;
  }
  .tabla-de-productos #carrito-container {
    margin-left: -20px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) and (max-width: 480px) {
  .contenedor-de-productos {
    grid-template-columns: repeat(3, 1fr);
  }
  figure figcaption {
    font-size: 0.8em;
  }
  .tabla-de-productos {
    font-size: 12px;
  }
  .indicador-th,
  .indicador-td {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contenedor-de-productos {
    grid-template-columns: repeat(4, 1fr);
  }
  figure figcaption {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 960px) {
  .contenedor-de-productos {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
}
.tabla-de-productos table {
  width: 100%;
  border-collapse: collapse;
}

form {
  max-width: 20em;
  margin: 20px auto;
  background-color: rgba(100, 6, 6, 0.418);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
form label {
  display: block;
  margin-bottom: 8px;
  color: #fcfcfc;
  text-shadow: 2px 2px 2px black;
}
form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  color: rgb(85, 84, 84);
}
form input:focus {
  outline: 2px solid rgb(212, 105, 5);
}

.button-submit {
  background-color: rgb(240, 169, 4);
  color: white;
  cursor: pointer;
  text-shadow: 1.5px 1.5px 1.5px black;
  padding: 5px 50px;
}
.button-submit:hover .button-submit:hover {
  background-color: rgb(240, 118, 4);
  transition: 300ms ease;
}

.vaciar-td {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.carrito-vacio {
  border: 1px solid black;
  background-color: rgba(100, 6, 6, 0.418);
  display: flex;
  justify-content: center;
  text-shadow: 2px 1px 1px black;
  padding: 20px 0px;
}

#carrito-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(221, 105, 4, 0);
  position: relative;
  right: 10px;
}
#carrito-container .vaciar-carrito {
  background-color: rgb(240, 169, 4);
  color: #fff;
  padding: 10px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  text-shadow: 2px 1px 1px black;
}
#carrito-container .carrito-total-container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(240, 169, 4);
  background-color: rgba(100, 6, 6, 0.418);
}
#carrito-container .carrito-total-container .carrito-total {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 8px;
  left: 10px;
  margin-right: 20px;
}
#carrito-container .carrito-total-container .carrito-total .p-total {
  text-shadow: 1px 1px 1px black;
  border: rgb(240, 169, 4);
}
#carrito-container .carrito-total-container .carrito-total #total {
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
}
#carrito-container .carrito-comprar {
  background-color: rgb(240, 169, 4);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-shadow: 2px 1px 1px black;
}

.carrito-de-compras {
  width: 35px;
}

.carrito-comprado {
  border: 1px solid black;
  background-color: rgba(100, 6, 6, 0.418);
  display: flex;
  justify-content: center;
  text-shadow: 2px 1px 1px black;
  padding: 20px 0px;
}

.carrito-producto-eliminar {
  background-color: rgba(207, 126, 4, 0);
  border: none;
}

.disabled {
  display: none;
}

.carrito {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(240, 169, 4);
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.carrito:hover {
  background-color: #e7e2e2;
}

.icono-carrito {
  width: 24px;
  height: 24px;
}

.cantidad {
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: #e74c3c;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 50%;
}

.cantidad-nav {
  position: absolute;
  top: 40px;
  right: 50px;
  background-color: #e74c3c;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 50%;
}

.tabla-de-productos {
  background-color: rgba(100, 6, 6, 0.418);
  color: orange;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.tabla-de-productos table {
  width: 100%;
  border-collapse: collapse;
}
.tabla-de-productos table th,
.tabla-de-productos table td {
  border: 1px solid #ff9900;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px black;
}

th {
  background-color: rgba(241, 167, 6, 0.63);
}

.arrow {
  background: none;
}

.button-arrow {
  background-color: rgb(240, 169, 4);
  margin: 0px;
  padding: 5px 10px;
  border: 0.5px solid black;
  border-radius: 7px;
}
.button-arrow:hover {
  background-color: rgba(255, 255, 255, 0.486);
}

.a-arrow {
  display: flex;
  justify-content: center;
}

.vaciar-carrito:hover, .carrito-comprar:hover {
  background-color: #df8107 !important;
}

/*# sourceMappingURL=style.css.map */
