form {
    max-width: 20em;
    margin: 20px auto;
    background-color: rgba(100, 6, 6, 0.418);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fcfcfc;
    text-shadow: 2px 2px 2px black;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    color: rgb(85, 84, 84);

    &:focus{
        outline: 2px solid rgb(212, 105, 5)
    }
}

.button-submit {
    background-color:$colorbutton;
    color: white;
    cursor: pointer;
    text-shadow: 1.5px 1.5px 1.5px black;
    padding: 5px 50px;
}


.button-submit:hover {
    background-color: $colorbuttonhover;
    transition: 300ms ease;
}

.vaciar-td{
    display: flex;
    justify-content: center;
    cursor: pointer;
}


